<a href="https://colab.research.google.com/github/hungsvdut2k2/ML-Fundamentals/blob/main/Who's_survivor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [2]:
!cp /content/gdrive/MyDrive/Datasets/titanic_dataset.zip /content

In [3]:
!unzip /content/titanic_dataset.zip

Archive:  /content/titanic_dataset.zip
   creating: titanic_dataset/
  inflating: titanic_dataset/test.csv
  inflating: titanic_dataset/train.csv

In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.model_selection import train_test_split

In [29]:
X = pd.read_csv('/content/titanic_dataset/train.csv')

**Cleaning Data**

In [30]:
pd.isnull(X).sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

**Filling missing values**

In [31]:
avg_age = X['Age'].mean()
X['Age'] = X['Age'].fillna(avg_age)

In [32]:
X.drop('Cabin',axis=1,inplace=True)

**Removing dummy features**

In [33]:
sex = pd.get_dummies(X['Sex'],drop_first=True)
embark = pd.get_dummies(X['Embarked'],drop_first=True)
X = pd.concat([X,sex,embark],axis=1)

In [34]:
y = X['Survived']
X = X.drop(['Survived'], axis = 1)
X.drop(['Name','Ticket','Sex','Embarked'],axis=1,inplace=True)

In [35]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1)

In [40]:
X_train.drop('PassengerId', axis=1, inplace=True)
passenger_id = X_test['PassengerId']
X_test.drop('PassengerId', axis=1,inplace=True)

**Logistic Regression:**

In [45]:
from sklearn.linear_model import LogisticRegression
logmodel = LogisticRegression()
logmodel.fit(X_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

In [47]:
predictions = logmodel.predict(X_test)

In [48]:
final_prediction = pd.DataFrame({'PassengerId':passenger_id,'Survived':predictions})

In [50]:
final_prediction

     PassengerId  Survived
862          863         1
223          224         0
84            85         1
680          681         1
535          536         1
..           ...       ...
506          507         1
467          468         0
740          741         0
354          355         0
449          450         0

[223 rows x 2 columns]

In [52]:
score = logmodel.score(X_test, y_test)
score

0.8026905829596412

**KNN:**

In [53]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier(n_neighbors=3)
model.fit(X_train,y_train)

KNeighborsClassifier(n_neighbors=3)

In [54]:
predicted= model.predict(X_test)
final_prediction = pd.DataFrame({'PassengerId':passenger_id,'Survived':predicted})
final_prediction

     PassengerId  Survived
862          863         1
223          224         0
84            85         1
680          681         1
535          536         1
..           ...       ...
506          507         1
467          468         0
740          741         0
354          355         0
449          450         0

[223 rows x 2 columns]

In [56]:
score = model.score(X_test, y_test)
score

0.7354260089686099

**Decision Tree:**

In [57]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier()
clf = clf.fit(X_train,y_train)

In [58]:
y_pred = clf.predict(X_test)
final_prediction = pd.DataFrame({'PassengerId':passenger_id,'Survived':y_pred})
final_prediction

     PassengerId  Survived
862          863         1
223          224         0
84            85         1
680          681         1
535          536         1
..           ...       ...
506          507         1
467          468         0
740          741         0
354          355         0
449          450         1

[223 rows x 2 columns]

In [59]:
score = clf.score(X_test, y_test)
score

0.7668161434977578

**Random Forest**

In [60]:
from sklearn.ensemble import RandomForestClassifier
clf=RandomForestClassifier(n_estimators=100)
clf.fit(X_train,y_train)

y_pred=clf.predict(X_test)
final_prediction = pd.DataFrame({'PassengerId':passenger_id,'Survived':y_pred})
final_prediction

     PassengerId  Survived
862          863         1
223          224         0
84            85         1
680          681         1
535          536         1
..           ...       ...
506          507         1
467          468         0
740          741         0
354          355         0
449          450         0

[223 rows x 2 columns]

In [61]:
score = clf.score(X_test, y_test)
score

0.7757847533632287

**Naive Bayes**

In [62]:
from sklearn.naive_bayes import GaussianNB

#Create a Gaussian Classifier
model = GaussianNB()

# Train the model using the training sets
model.fit(X_train,y_train)

#Predict Output
predicted= model.predict(X_test)
final_prediction = pd.DataFrame({'PassengerId':passenger_id,'Survived':predicted})
final_prediction

     PassengerId  Survived
862          863         1
223          224         0
84            85         1
680          681         1
535          536         1
..           ...       ...
506          507         1
467          468         0
740          741         0
354          355         0
449          450         0

[223 rows x 2 columns]

In [63]:
score = model.score(X_test, y_test)
score

0.7713004484304933

**Linear Regression**

In [64]:
from sklearn.linear_model import LinearRegression
regr = LinearRegression()
regr.fit(X_train, y_train)

LinearRegression()

In [65]:
prediction = regr.predict(X_test)
final_prediction = pd.DataFrame({'PassengerId':passenger_id,'Survived':prediction})
final_prediction

     PassengerId  Survived
862          863  0.816590
223          224  0.075660
84            85  0.837698
680          681  0.637557
535          536  0.919041
..           ...       ...
506          507  0.746667
467          468  0.268917
740          741  0.443593
354          355  0.159392
449          450  0.295812

[223 rows x 2 columns]

In [79]:
regr.score(X_test, y_test)

0.36613053747262536

In [78]:
prediction = np.round(prediction)
score = len(np.where(prediction == y_test)[0]) / y_test.shape[0]
score

0.7982062780269058