<a href="https://colab.research.google.com/github/hungsvdut2k2/ML-Fundamentals/blob/main/Who's_survivor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [2]:
!cp /content/gdrive/MyDrive/Datasets/titanic_dataset.zip /content

In [3]:
!unzip /content/titanic_dataset.zip

Archive:  /content/titanic_dataset.zip
   creating: titanic_dataset/
  inflating: titanic_dataset/test.csv
  inflating: titanic_dataset/train.csv

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [29]:
train = pd.read_csv('/content/titanic_dataset/train.csv')
test = pd.read_csv('/content/titanic_dataset/test.csv')

**Cleaning Data**

In [6]:
pd.isnull(train).sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

**Filling missing values**

In [30]:
avg_age = train['Age'].mean()
train['Age'] = train['Age'].fillna(avg_age)
test['Age'] = test['Age'].fillna(avg_age)

In [31]:
train.drop('Cabin',axis=1,inplace=True)
test.drop('Cabin', axis=1, inplace=True)

**Removing dummy features**

In [32]:
passenger_id = test['PassengerId']
train.drop(['Name','Ticket','PassengerId'],axis=1,inplace=True)
test.drop(['Name','Ticket','PassengerId'],axis=1,inplace=True)

In [33]:
sex = pd.get_dummies(train['Sex'],drop_first=True)
embark = pd.get_dummies(train['Embarked'],drop_first=True)
test_sex = pd.get_dummies(test['Sex'],drop_first=True)
test_embark = pd.get_dummies(test['Embarked'],drop_first=True)
train = pd.concat([train,sex,embark],axis=1)
test = pd.concat([test,test_sex, test_embark], axis=1)

In [34]:
value = train['Survived']
train = train.drop(['Survived'], axis = 1)

In [35]:
train.drop(['Sex', 'Embarked'], axis = 1, inplace = True)
test.drop(['Sex', 'Embarked'], axis=1, inplace=True)

**Logistic Regression:**

In [36]:
from sklearn.linear_model import LogisticRegression
logmodel = LogisticRegression()
logmodel.fit(train,value)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

In [37]:
logmodel.score(train,value)

0.8069584736251403

In [38]:
test

     Pclass        Age  SibSp  Parch      Fare  male  Q  S
0         3  34.500000      0      0    7.8292     1  1  0
1         3  47.000000      1      0    7.0000     0  0  1
2         2  62.000000      0      0    9.6875     1  1  0
3         3  27.000000      0      0    8.6625     1  0  1
4         3  22.000000      1      1   12.2875     0  0  1
..      ...        ...    ...    ...       ...   ... .. ..
413       3  29.699118      0      0    8.0500     1  0  1
414       1  39.000000      0      0  108.9000     0  0  0
415       3  38.500000      0      0    7.2500     1  0  1
416       3  29.699118      0      0    8.0500     1  0  1
417       3  29.699118      1      1   22.3583     1  0  0

[418 rows x 8 columns]

In [39]:
avg_fare = train['Fare'].mean()
test['Fare'] = test['Fare'].fillna(avg_fare)

In [41]:
predictions = logmodel.predict(test)

In [42]:
final_prediction = pd.DataFrame({'PassengerId':passenger_id,'Survived':predictions})

In [43]:
final_prediction

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

**KNN:**

In [44]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier(n_neighbors=3)
model.fit(train,value)

KNeighborsClassifier(n_neighbors=3)

In [48]:
predicted= model.predict(test)
final_prediction = pd.DataFrame({'PassengerId':passenger_id,'Survived':predicted})
final_prediction

     PassengerId  Survived
0            892         0
1            893         0
2            894         1
3            895         1
4            896         0
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         1

[418 rows x 2 columns]

**Decision Tree:**

In [49]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier()
clf = clf.fit(train,value)

In [51]:
y_pred = clf.predict(test)
final_prediction = pd.DataFrame({'PassengerId':passenger_id,'Survived':y_pred})
final_prediction

     PassengerId  Survived
0            892         0
1            893         0
2            894         1
3            895         1
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         1

[418 rows x 2 columns]

**Random Forest**

In [57]:
from sklearn.ensemble import RandomForestClassifier
clf=RandomForestClassifier(n_estimators=100)
clf.fit(train,value)

y_pred=clf.predict(test)
final_prediction = pd.DataFrame({'PassengerId':passenger_id,'Survived':y_pred})
final_prediction

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         1
4            896         0
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         1

[418 rows x 2 columns]

**Naive Bayes**

In [58]:
from sklearn.naive_bayes import GaussianNB

#Create a Gaussian Classifier
model = GaussianNB()

# Train the model using the training sets
model.fit(train,value)

#Predict Output
predicted= model.predict(test)
final_prediction = pd.DataFrame({'PassengerId':passenger_id,'Survived':predicted})
final_prediction

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

**Linear Regression**

In [52]:
from sklearn.linear_model import LinearRegression
regr = LinearRegression()
regr.fit(train, value)

LinearRegression()

In [54]:
prediction = regr.predict(test)
final_prediction = pd.DataFrame({'PassengerId':passenger_id,'Survived':prediction})
final_prediction

     PassengerId  Survived
0            892  0.125344
1            893  0.451104
2            894  0.136400
3            895  0.105803
4            896  0.583370
..           ...       ...
413         1305  0.089784
414         1306  0.978705
415         1307  0.037894
416         1308  0.089784
417         1309  0.102929

[418 rows x 2 columns]